{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="/vendor/global.css" />
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Paiement</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3>paiement effectué</h3>
        </div>
    </div>
{% endblock %}


